.holdNavigate {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em;
  border-bottom: 1px solid #dddddd;
  align-items: center;
}

.menu {
  height: fit-content;
}
.menu2 {
  display: none;
}

.holdParent {
  list-style-type: none;
  margin: 0;
  display: flex;
  font-size: 13px;
  align-items: center;
  // position: absolute;

  li {
    margin: 0 10px;
    padding-inline: 7px;
    // position: relative;
  }
  li:hover {
    color: #ffcc24;
    cursor: pointer;
  }
}

.holdChild {
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  width: 10%;
  height: fit-content;
  border: 1px solid #d6d6d6;
  background-color: white;
  // margin-top: 10px;
  overflow: hidden;

  li {
    padding: 10px;
    width: 88%;
    color: black;
    margin: 0;
    text-align: center;
  }
  li:hover {
    background-color: black;
    color: white;
  }
}

.holdParent li:hover .holdChild {
  display: block;
}

.logos {
  width: 70px;
}

.callUs {
  font-size: 13px;
  padding: 10px 2em;
  background-color: #ffcc24;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconMe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  font-size: 25px;
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid lightgray;
  }
  .menu2 {
    display: block;
    font-size: 30px;
  }
  .menu2:hover .menu {
    display: block;
  }
  .holdNavigate {
    padding: 10px 15px;
  }
  .holdParent {
    text-align: left !important;
    flex-direction: column;
    padding: 10px;
    align-items: left !important;

    li {
      margin: 5px 10px;
      padding-inline: 7px;
    }
    li:hover {
      color: #ffcc24;
      cursor: pointer;
    }
  }

  .holdChild {
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #d6d6d6;
    background-color: white;
    overflow: hidden;

    li {
      padding: 10px;
      width: 88%;
      color: black;
      margin: 0;
      text-align: center;
    }
    li:hover {
      background-color: black;
      color: white;
    }
  }

  .holdParent li:hover .holdChild {
    display: block;
  }
}
